.container-fluid(id=about) 
  .row
    .col-md-12
      img.full(src='/content/img/About_01.jpg')
      .container
        .carousel-caption.imgtextcenter
          h1.big.hidden-xs OUR STORY
          //- p #{item.subheadline}

//Full width text
hr.featurette-divider
.container
  .row.whitespace
    .col-md-12.centered
      h1.big.centered.visible-xs OUR STORY
      h1.centered.hidden-xs Our Secret
      p.centered.para Secret Scoop Thai gelato introduces all-natural and exotic Thai flavors, to San Francisco from the East. We offer a wide range of exotic innovative flavors free from artificial ingredients. We use locally sourced products whenever possible, compostable packaging and 100% rBST free milk. We hope you enjoy Secret Scoop as much as we do!


//Image right aligned
.container-fluid
  .row.featurette.medium
    .col-md-4
      img.featurette-image.img-responsive(src='/content/img/About_02.jpg', alt='Image')
    .col-md-8
      img.featurette-image.img-responsive(src='/content/img/About_03.jpg', alt='Image')

//Full width text
.container
  .row.whitespace
    .col-md-12
      h1.centered Our Chef
      p.centered.para Founded in 2012 by head chef Funn Fisher, Secret Scoop Thai Gelato was born from a love for dessert and a desire to stay healthy. Funn created her own gelato recipes from all natural and exotic ingredients with a goal of providing gelato/sorbet lovers with flavors from her homeland. 


//50/5O SPLIT IMAGE FROM SRC
.container-fluid
  .row.featurette.medium
    .col-md-8
      img.featurette-image.img-responsive.horizontal-fill(src='/content/img/About_07.jpg', alt='Image')
    .col-md-4
      img.featurette-image.img-responsive.vertical-fill(src='/content/img/About_08.jpg', alt='Image')

//FULL WIDTH IMAGE FROM SRC
hr.featurette-divider
.container-fluid(id=about) 
  .row.thick
    img.full(src='/content/img/About_06.jpg')


//- //FULL WIDTH IMAGE FROM YAML
//- .container-fluid(id=about) 
//-   .row
//-     img.full(src=_mainInfo.aboutItems[1].image1)

//- //GALLERY IMAGES
//- #myCarousel.carousel.slide(data-ride='carousel' data-interval='false')
//- .carousel-inner
//- each item, index in _mainInfo.mainItems
//-   if index == 0 
//-     .item.active
//-       img(src=item.image, alt='First slide')
//-       .container
//-         .carousel-caption
//-           h1 #{item.headline}
//-           p #{item.subheadline}
//-           p
//-             a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
//-   else 
//-     .item
//-       img(src=item.image, alt='First slide')
//-       .container
//-         .carousel-caption
//-           h1 #{item.headline}
//-           p #{item.subheadline}
//-           p
//-             a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}


//- //DYNAMICALLY CREATE ROWS AND POPULATE FROM YAML
//- .container-fluid.marketing(id='info')
//-   // START THE FEATURETTES
//-   hr.featurette-divider
//-   each item, index in _mainInfo.aboutItems
//-     if index % 2 == 0
//-       .row.featurette 
//-         .col-md-7
//-           h2.featurette-heading
//-             | #{item.headline}
//-             span.text-muted #{item.who}
//-           p.lead
//-             |  #{item.description}
//-         .col-md-5
//-           img.featurette-image.img-responsive(src=item.image1, alt='Image')
//-       hr.featurette-divider
//-     else 
//-       .row.featurette
//-         .col-md-5
//-           img.featurette-image.img-responsive(src=item.image1, alt='Image')
//-         .col-md-7
//-           h2.featurette-heading
//-             | #{item.headline}
//-             span.text-muted #{item.who}
//-           p.lead
//-             | #{item.description}
//-       hr.featurette-divider
//-   // /END THE FEATURETTES