//Full width image
.container-fluid
  .row.featurette-image.thick
    img.full(src='/content/img/Flavor_01.jpg')
    .container
      .carousel-caption.imgtextcenter
        h1 OUR STORIES
        //- p #{item.subheadline}
  hr.featurette-divider

//Full width text
.container-fluid
  .row.whitespace
    .col-md-4
    .col-md-4
      h1.centered hello
      h1.centered.para world
    .col-md-4

// Flavors
.container(style= "margin-top:90px;")
  hr.featurette-divider
  .row
    each item, index in _flavorInfo.flavorItems
      .col-lg-4.flavor-height
        img.img-circle(src=item.image, alt='Flavor', style='width: 140px; height: 140px;')
        h2 #{item.flavor}
        p
          | #{item.description}
        p
          a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}

        //- p
      //-     a.btn.btn-default(href='#', role='button') #{item.button}
      //- // /.col-lg-4
  // /.row



