// Carousel
// ==================================================
//Set carousel to false to not slide through images
#myCarousel.carousel.slide(data-ride='carousel' data-interval='false')
  // Indicators
  //- ol.carousel-indicators
  //-   li.active(data-target='#myCarousel', data-slide-to='0')
  //-   li(data-target='#myCarousel', data-slide-to='1')
  //-   li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner
    each item, index in _mainInfo.galleryItems
      if index == 0 
        .item.active
          img.brightness(src=item.image, alt='First slide' class="hidden-xs").img-tentacle
          img(src=item.imagemobile, alt='First slide' class="visible-xs")          
          .container.hidden-phone
            .carousel-caption.imgtextbottom
              h1.big #{item.headline}
              p.visible-lg #{item.subheadline}
              h2(style="color:white;") #{item.paragraph}
                //- a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
      else 
        .item
          img(src=item.image, alt='First slide')
          .container.hidden-phone
            .carousel-caption
              h1 #{item.headline}
              p #{item.subheadline}
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
  //- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
  //-   span.glyphicon.glyphicon-menu-left
  //- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
  //-   span.glyphicon.glyphicon-menu-right
// /.carousel