// Carousel
// ==================================================
#myCarousel.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner
    each item, index in mainInfo.galleryItems
      if index == 0 
        .item.active
          img(src=item.image, alt='First slide')
          .container
            .carousel-caption
              h1 #{item.headline}
              p #{item.subheadline}
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
      else 
        .item
          img(src=item.image, alt='First slide')
          .container
            .carousel-caption
              h1 #{item.headline}
              p #{item.subheadline}
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right
// /.carousel