//- .container-fluid.visible-phone
//-   .row
//-     .carousel-caption.imgtextbottom
//-       h1 Blah
//-       p Blah
//-       p.para_small Blah
//-         //- a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}


.container-fluid
  .row.whitespace
    h2.shadow flavors of the month
    //- span.glyphicon.main.shadow.glyphicon-chevron-down.shadow

  // Featured flavor
  .row.medium
    each item, index in _flavorInfo.flavorItems
      if item.featured == 'y-left'
        .col-md-6.medium
          img.featurette-image.img-responsive(src=item.image, alt='Featured image')
          .container
            .carousel-caption
              h2.light #{item.flavor}
              //- p #{item.description}
              p
                a.btn.btn-lg.btn-primary(href='/order', role='button') #{item.button}
          hr.featurette-divider.visible-sm
          //- .col-md-7
          //-   h2.featurette-heading
          //-     | Flavor of the month
          //-     span.text-muted &#10097; #{item.flavor}
          //-   p.lead
          //-     | #{item.description_long}
          //-   p
          //-     a.btn.btn-default(href='#', role='button') #{item.button}
      else if item.featured == 'y-right'
        .col-md-6.medium
          img.featurette-image.img-responsive.vertical-fill.img-tentacle(src=item.image, alt='Featured image')
          .container
            .carousel-caption
              h2.light #{item.flavor}
              //- p #{item.description}
              p
                a.btn.btn-lg.btn-primary(href='/order', role='button') #{item.button}
