//Full width text
.container-fluid
  .row.whitespace
    .col-md-12
      h2.centered Sample the flavors of Thailand
      h2 You'll love every unique taste!


//Full width image
.container-fluid
  .row.medium
    .col-md-12
      img(src='/content/img/Home_04.jpg')
      .carousel-caption.imgtextcenter.cc-top-aligned
        h1 EAT - ALL - NATURAL
hr.featurette-divider

//Image right aligned
.container-fluid
  each item, index in _mainInfo.marketingItems
    .row.featurette.medium
      .col-md-6.text-center
        h1.vcenter #{item.headline}
        p #{item.paragraph}
        p
          a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}
      .col-md-6
        img.featurette-image.img-responsive(src=src=item.image, alt='Image')

.container-fluid
  hr.featurette-divider
  .row.thick
    img.full(src='/content/img/Home_06.jpg')
  hr.featurette-divider

//- //Image left aligned
//- .container-fluid
//-   each item, index in _mainInfo.marketingItems
//-     row.featurette
//-       .col-md-8
//-         img.featurette-image.img-responsive(src=src=item.image, alt='Image')
//-       .col-md-4.text-center
//-         h1 #{item.headline}
//-         p #{item.paragraph}
//-         p
//-           a.btn.btn-lg.btn-primary(href='#', role='button') #{item.button}

//- .container-fluid.marketing(id='info')
  //- // START THE FEATURETTES
  //- hr.featurette-divider
  //- each item, index in _mainInfo.aboutItems
  //-   if index % 2 == 0
  //-     .row.featurette 
  //-       .col-md-7
  //-         h2.featurette-heading
  //-           | #{item.headline}
  //-           span.text-muted #{item.who}
  //-         p.lead
  //-           |  #{item.description}
  //-       .col-md-5
  //-         img.featurette-image.img-responsive(src=item.image1, alt='Image')
  //-     hr.featurette-divider
  //-   else 
  //-     .row.featurette
  //-       .col-md-5
  //-         img.featurette-image.img-responsive(src=item.image1, alt='Image')
  //-       .col-md-7
  //-         h2.featurette-heading
  //-           | #{item.headline}
  //-           span.text-muted #{item.who}
  //-         p.lead
  //-           | #{item.description}
  //-     hr.featurette-divider
  //- // /END THE FEATURETTES