.container.marketing(id='info')
  // START THE FEATURETTES
  hr.featurette-divider
  each item, index in _mainInfo.aboutItems
    if index % 2 == 0
      .row.featurette 
        .col-md-7
          h2.featurette-heading
            | #{item.headline}
            span.text-muted #{item.who}
          p.lead
            |  #{item.description}
        .col-md-5
          img.featurette-image.img-responsive(src=item.image1, alt='Image')
      hr.featurette-divider
    else 
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src=item.image1, alt='Image')
        .col-md-7
          h2.featurette-heading
            | #{item.headline}
            span.text-muted #{item.who}
          p.lead
            | #{item.description}
      hr.featurette-divider
  // /END THE FEATURETTES